<h1>Categories</h1>
<% @cat.each do |c| %>
  <p> <%= link_to c.name, tag_show_path(c.id) %> </p>

<% end %>
<br>
<p><%= link_to 'Add Category', cat_new_path %></p>
<p><%= link_to 'Add Product', prod_new_path %></p>
<p><%= link_to 'Manage Tags', tags_index_path %></p>