
<table class="table table-bordered" >
<thead>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Order</th>
    <th>Total Cost</th>
  </tr>
</thead><tbody>
<% @order.each do |order| %>
  <tr>
    <td>order.name</td>
    <td>order.phone</td>
    <td>order.address</td>
    <td>
      
    </td>
  </tr>
<% end %>
</tbody>
</table>